.row
  .large-12.columns.text-center
    %h2 OUR TESTIMONIALS
    %hr
    %p
    I was very hesitant at first to leave my new 4 month old baby in the hands of strangers at a daycare,  Rainbow Montessori exceeded all my expectations, calmed my nerves and now my baby girl is thriving.  As all babies, the first few days were hard for me and the baby.  But soon after, I could see that my baby started to enjoy the school and was excited to be dropped off.
