.row
  .large-12.columns.text-center
    %h2 ABOUT US
    %hr
.row
  .large-6.columns
    = image_tag("daycare_play_rug.jpg", alt: "daycare")
  .large-6.columns
    %p
      Love and Laughter daycare offers a year-round Child Care from 6am through 6pm for children ages 6 weeks through 3. This program provides a family atmosphere for children whose parents need to drop them off early before school or pick them up later after school. Breakfast, lunch and snacks are available.

      Our certified teachers and staff provide playtime, age-appropriate activites and organized group time. In the summer, the Child Care offers fun programs with field trips and activities.