.row
  .large-12.columns.text-center
    %h2 ABOUT US
    %hr
.row
  .large-3.columns
    = image_tag("vinti.jpg")

  .large-9.columns
    %p
      Vinti is an eternal optimist and has an extremely positive attitude towards life. She is a
      spiritualist, an avid speaker and motivator. She is especially known to get the most out of the
      situation when the odds are against you. You would never hear a 'no' from her for any task, no matter how difficult it is.
%hr
.row
  .large-3.columns
    = image_tag("niharika.jpg")
  .large-9.columns
    %p
      Niharika is an enthusiastic and self motivated coder. She is an optimistic, calm and passionate person at the same time. She is always ready to help and listen to your problems.