.row
  .large-3.columns
    %p
      = link_to image_tag("logo.png", :border => 0), static_pages_home_path, {:class => 'dock-item'}

  .large-9.columns
    %ul.right.button-group
      %li= link_to "Home", static_pages_home_path, class: :button
      -#%li= link_to "About Us", static_pages_about_path, class: :button
      -#%li= link_to "Contact Us ", static_pages_contact_path, class: :button
      %li= link_to "Register here", new_customer_path, class: :button
